@import "./colors/colors_mellifluous.css";

* {
	border: none;
	border-radius: 0;
	font-family: "Terminess Nerd Font";
	font-size: 16px;
	font-weight: bold;

	min-height: 0;
	margin: 0;
	padding: 0;
}

window#waybar {
	background: @bg;
}

#workspaces button {
	color: @white;
	padding: 0 2px;
}

#workspaces button.active {
	color: @blue;
}

#backlight {
	padding: 0 8px;
}

#pulseaudio {
	padding: 0 8px 0 2px;
}

#network {
	padding: 0 8px 0 3px;
}

#battery {
	padding: 0 14px 0 0;
}
